#login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;       /* altura visivel */
	padding: 0 2rem;		/* tamanho baseado na fonte */
}

#login .form {
	width: 100%;
	background-color: #f1f1f1;
	max-width: 480px;
	padding: 0.5rem;
}

#login .field {
	padding-bottom: 0.5rem;
}

#login .field label {
	display: block;
}

#login .field input {
	width: 100%;
}

#login .actions {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
}

