#platform {
	display: flex;
	min-height: 100vh;
	padding: 0.2%;
	background: black;
	color: aliceblue;
	border: 1px solid rgb(226, 43, 141)
}

#platform .perfil-column {
	padding: 5rem 0 0 0;
	display: flex;
	flex-direction: column;
	width: 23%;
	border: 1px solid rgb(248, 252, 20);
	margin: 0.5%;
	background-color: rgb(0, 0, 0);
}

#platform .content-trail {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 77%;
	border: 1px solid rgb(252, 66, 20);
	margin: 0.5%;
	background-color: rgb(31, 31, 31);
}

#platform .content-trail .field {
	width: 85%;
	height: 20%;
	border: 1px solid rgb(0, 0, 255);
	margin: 1rem;
}
