html {
	box-sizing: border-box;
	/* background-color: rosybrown; */
}
*,
*:before,
*:after {

	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	/* background-color: rosybrown; */
}
