#signup {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 0 2rem;
	background: rgb(255,205,0);
	background: linear-gradient(0deg, rgba(255,205,0,1) 0%, rgba(255,90,35,1) 100%);
}

#signup .form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 30rem;
	height: 37.5rem;
	max-width: 480px;
	padding: 0.5rem;
	background-color: rgb(31, 31, 31);
}

input::-moz-placeholder {
    color:rgb(117, 117, 117);
	font-size: 10px;
    font-style: bold;
}

#signup .field {
	width: 60%;
	padding-bottom: 0.5rem;
}

#signup .field label {
	display: block;
	margin: 0.5rem 0.5rem 0.5rem 0.2rem;
	color: #ffffff;
	font-size:0.8rem;
}

#signup .field input {
	width: 100%;
	border: 1px solid #c5c5c5;
	border-radius: 12px;
}

#signup .actions {
	width: 80%;
	display: flex;
	justify-content: center;
	gap: 3rem;
	align-items: center;
	margin-top: 3rem;
}

#signup .form img {
	width: 15vh;
	height: 14vh
}

#signup .actions button {
	width: 7rem;
	height: 2rem;
	background-color:#ff5a23;
	color: #ffffff;
	border:none;
	border-radius:10px;
}

#signup .actions button:hover {
	background-color:#ffffff;
	color: #ff5a23;
	transition: 0.7s;
}

.form-side-img {
	width: 44rem;
	height: 37.5rem;
	max-height: 600px;
	max-width: 704px;
	padding: 0 0 0 0.2rem;
}
