.trails {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70vh;
	flex-grow: 1;
	padding: 1em;
}

.trails li, a, button {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
}

.trails .row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	margin: 1em;
	padding: 1em;
}

.trails .col {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(184,0,255);
	background: linear-gradient(0deg, rgba(184,0,255,1) 0%, rgba(108,35,255,1) 100%);
	padding: 1em;
}

.trails .col a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: inherit;
	text-decoration: none;
	cursor: pointer;

}

.trails ul {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style: none;
	color: aliceblue

}

@media only screen and (min-width: 1025px) and (max-width: 2048px) {
	.trails .row {
		width: 100%;
	}

	.trails .col {
		margin-bottom: 5em;
		padding: 4em;
	}

	.trails .col a {
		margin: 1em;
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 836px) and (max-width: 1024px) {
	.trails .row {
		min-height: 50vh;
	}

	.trails .col {
		min-height: 30vh;
		padding: 4em;
	}

	.trails .col a {
		font-size: 1.5em;
	}

	.trails ul {
		flex-direction: column;
	}
}

@media only screen and (max-width:768px) {
	.trails {
		padding: 0;
	}
	.trails .row {
		justify-content: center;
		align-items: center;
		padding: 0;
		min-height: 100vh;
	}

	.trails .col {
		margin-left: 0;
		margin-bottom: 2rem;
		min-height: 2vh;
	}

	.trails .col a {
		font-size: 1.3em;
	}

	.trails ul {
		flex-direction: column;
	}
}
