<div class="container">
	<form action="" method="post">
		<div class="input-box">
			<label>Nome:</label>
			<input id="nome" type="text" placeholder="Digite seu nome" name="nome">
		</div>
		<div class="input-box">
			<label>Email:</label>
			<input id="email" type="email" placeholder="Digite seu email" name="email">
		</div>
		<div class="input-box">
			<label>Celular:</label>
			<input id="celular" type="tel" placeholder="(xx) xxxx-xxxx" name="celular">
		</div>
		<div class="input-box">
			<label>Senha:</label>
			<input id="senha" type="password" placeholder="Digite sua senha" name="senha">
		</div>
		<div class="input-box">
			<label>Confirme sua senha:</label>
			<input id="ConfirmeSenha" type="password" placeholder="Confirme sua senha" name="ConfirmeSenha">
		</div>
		<div class="btnSubmit">
				<button type="submit">Enviar</button>
		</div>
	</form>
</div>
